* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


main .blocco-shoes {
    width: 100%;
    height: 100vh;
    position: relative;
}

main #red-shoes {
    background-color: red;
}

main #green-shoes {
    background-color: green;
}

main #yellow-shoes {
    background-color: yellow;
}

.blocco-shoes .img-text-shoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.img-text-shoes h2 {
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-size: calc( 2vw + 20px );
}

.img-text-shoes #green-text {
    color: green;
}

.img-text-shoes img{
    width: 100%;
}

ul a {
    background-color: white;
    border-radius: 100%;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    color: currentColor;
    list-style: none;
    font-weight: bold;
}

ul li {
    display: inline-block;
}

section ul {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1;
}
